/* @define-color bg0 #000000; */
/* @define-color bg1 #111111; */
/* @define-color textcolor1 #FFFFFF; */
/* @define-color textcolor2 #FFFFFF; */
/* @define-color textcolor3 #FFFFFF; */
/* @define-color iconcolor #FFFFFF; */


@define-color glass-bg rgba(20, 20, 20, 0.55);
@define-color glass-border rgba(255, 255, 255, 0.12);
@define-color glass-highlight rgba(255, 255, 255, 0.06);

@define-color textcolor1 #ffffff;
@define-color iconcolor #ffffff;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "FiraCode Nerd Font Propo", Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 10px;
}

#waybar {
    background: transparent;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces,
#clock,
#pulseaudio,
#network,
#bluetooth,
#battery,
#taskbar {
    background: @glass-bg;
    border: 1px solid @glass-border;
    box-shadow: inset 0 1px 0 @glass-highlight;
    border-radius: 10px;
}

#workspaces {
    background: @glass-bg;
    padding: 0px 2px;
    font-weight: bold;
    font-style: normal;
    color: @textcolor1;
}

#workspaces button {
    padding: 0px 6px;
    margin: 3px 2px;
    background: transparent;
    transition: all 0.1s linear;
}

#workspaces button.active {
    color: #7aa2f7;
    background: rgba(122, 162, 247, 0.25);
    transition: all 0.1s linear;
    font-size: 20px;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    background: rgba(30, 30, 30, 0.8);
    border: 1px solid rgba(255,255,255,0.15);
}

tooltip label {
    color: @textcolor1;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    margin: 3px 15px 3px 0px;
    padding: 2px 10px 0px 10px;
    color:white;
    font-size:16px;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    background: @glass-bg;
    margin: 3px 15px 3px 0px;
    padding:0px;
    font-weight: normal;
    font-style: normal;
}

#taskbar button {
    margin:0;
    padding: 0px 5px 0px 5px;
}

#taskbar.empty {
    background:transparent;
    padding:0;
    margin:0;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
    margin-right: 15px;
    font-size: 22px;
    font-weight: bold;
    color: @iconcolor;
}

#idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #dc2f2f;
}


/* -----------------------------------------------------
 * Custom Notification
 * ----------------------------------------------------- */

 #custom-notification {
    margin: 0px 13px 0px 0px;
    padding:0px;
    font-size:20px;
    color: @iconcolor;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 0px 13px 0px 0px;
    padding:0px;
    font-size:20px;
    color: @iconcolor;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,#memory,#cpu,#language {
    margin:0px 10px 0px 0px;
    font-size:16px;
    color:@iconcolor;
}

#cpu span {
    font-size: 28px; /* Or any size you prefer */
}

#language {
    margin-right:10px;
}

/* -----------------------------------------------------
 * Power Profiles Daemon
 * ----------------------------------------------------- */

#power-profiles-daemon {
    margin: 0px 13px 0px 0px;
    padding:0px;
    font-size:16px;
    color:@iconcolor;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    background-color: @glass-bg;
    font-size: 16px;
    color: @textcolor1;
    padding: 1px 10px 0px 10px;
    margin: 3px 10px 3px 0px;
}


/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    background-color: @glass-bg;
    font-size: 16px;
    color: @textcolor1;
    padding: 2px 10px 0px 10px;
    margin: 3px 15px 3px 0px;
}

#pulseaudio.muted {
    background-color: @glass-bg;
    color: @textcolor1;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: @glass-bg;
    font-size: 16px;
    color: @textcolor1;
    padding: 2px 10px 0px 10px;
    margin: 3px 15px 3px 0px;
}

#network.ethernet {
    background-color: @glass-bg;
    color: @textcolor1;
}

#network.wifi {
    background-color: @glass-bg;
    color: @textcolor1;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth, #bluetooth.on, #bluetooth.connected {
    background-color: @glass-bg;
    font-size: 16px;
    color: @textcolor1;
    padding: 2px 10px 0px 10px;
    margin: 3px 15px 3px 0px;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    background-color: @glass-bg;
    font-size: 16px;
    color: @textcolor1;
    padding: 2px 15px 0px 10px;
    margin: 3px 15px 3px 0px;
}

#battery.charging, #battery.plugged {
    color: @textcolor1;
    background-color: @glass-bg;
}

@keyframes blink {
    to {
        background-color: @glass-bg;
        color: @textcolor1;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @textcolor1;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    padding: 0px 15px 0px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

